<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阅读页-响应式</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="Public/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Public/css/site.css">
</head>
<body>
	<!-- 头部 -->
	<nav class="navbar navbar-default">
		<div class="container">
		  	<div class="container-fluid">
			    <!-- 移动端显示 -->
			    <div class="navbar-header">
			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menus-navbar" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand" href="#">小说</a>
			    </div>
			  	<div class="collapse navbar-collapse" id="menus-navbar">
			      	<ul class="nav navbar-nav">
				        <li class="active"><a href="#">玄幻小说 <span class="sr-only">(current)</span></a></li>
				        <li><a href="#">言情小说</a></li>
				        <li><a href="#">仙侠小说</a></li>
				        <li><a href="#">都市小说</a></li>
				        <li><a href="#">历史小说</a></li>
				        <li><a href="#">网游小说</a></li>
				        <li><a href="#">完本小说</a></li>
			      	</ul>
			      	<ul class="nav navbar-nav navbar-right">
				        <li><a href="#">登录</a></li>
				        <li><a href="#">免费注册</a></li>
			      	</ul>
			    </div>
		  	</div>
		</div>
	</nav>
	<!-- 内容部分 -->
	<!-- 主宽度 -->
	<div class="container body-content">
		<!-- 面包屑 -->
		<ol class="breadcrumb hidden-xs">
			<li><a href="#">首页</a></li>
			<li><a href="#">言情小说</a></li>
			<li><a href="#">都市超级医圣</a></li>
			<li class="active">第一章 话别</li>
			<span class="pull-right hidden-xs">
				<select name="bcolor" id="bgcolor">
					<option style="background-color: #E9FAFF" value="#E9FAFF">底色</option>
					<option style="background-color: #E9FAFF" value="#E9FAFF">默认</option>			  
					<option style="background-color: #ffffff" value="#ffffff">白色</option>
					<option style="background-color: #e3e8f7" value="#e3e8f7">淡蓝</option>			  
					<option style="background-color: #daebfc" value="#daebfc">蓝色</option>
					<option style="background-color: #ebeaea" value="#ebeaea">淡灰</option>
					<option style="background-color: #e7e3e6" value="#e7e3e6">灰色</option>             <option style="background-color: #dedcd8" value="#dedcd8">深灰</option>             <option style="background-color: #d8d7d7" value="#d8d7d7">暗灰</option>             <option style="background-color: #e6fae4" value="#e6fae4">绿色</option>             <option style="background-color: #f9fbdd" value="#f9fbdd">明黄</option>
				</select>			  
				<select name="txtcolor" id="txtcolor">
					<option value="">字色</option>     
					<option value="#000000">黑色</option>              
					<option value="#ff0000">红色</option>              
					<option value="#006600">绿色</option>              
					<option value="#0000ff">蓝色</option>              
					<option value="#660000">棕色</option>			  
				</select>
				<select name="fonttype" id="fonttype"> 		
					<option value="24px">字号</option>	  
					<option value="12px">小号</option> 			  
					<option value="14px">较小</option> 			  
					<option value="16px">中号</option>			  
					<option value="18px">较大</option>			  
					<option value="24px">大号</option>			  
				</select>
			</span>
		</ol>
		<div class="panel panel-default panel-content" id="content">
			<div class="read-head">
				<h1 class="read-title">第一章 话别 <span class="small">(1/2)</span></h1>
				<p class="read-tags tags">
					<a class="red" href="http://www.shuqizw.com/modules/article/authorarticle.php?author=%B6%CF%C7%C5%B2%D0%D1%A9" target="_blank" title="作者：断桥残雪">断桥残雪</a>
                    <a class="red" href="/list/2.html" target="_blank" title="言情小说">言情小说</a>
                    <span class="blue">字数：782万</span>
                    <span class="blue">阅读数：36w+</span>
                    <span class="blue">连载中</span>
				</p>
			</div>
			<div class="panel-body" id="book-content">
                书旗小说 www.shuqizw.com，最快更新都市超级医圣最新章节！<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;“师父，明天我就要去县城准备上学的事情，以后就不能每天来看望你，这是你最喜欢喝的花雕酒，十年陈的，还有你喜欢吃的叫花子鸡，今天我们师徒两吃喝个痛快。”白云山，一座坟墓前，一个少年人手中端着一坛五斤装的花雕酒，前面摆放着一只用荷叶包着的叫花子鸡，还有两个瓷碗，一边往碗中倒酒，一边嘴里喃喃着。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;这少年人名叫葛东旭，是白云山脚下葛家垟村村民。坟墓中埋的是他师父任遥。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;葛东旭八岁起便随他修行，一直到十四岁任遥过世为止。而今任遥已经过世两年，葛东旭已是十六岁的少年。因为考上了县城一中，明日就要动身去县城，今日特来向他师父道别。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;说起师父任遥，葛东旭虽然随他修行六年，但对他生平之事却知之甚少，就连他的名字，也是在他瞑目之前方才知晓。因为自葛东旭知道他师父起，他师父便是一位精神时好时坏的疯癫老人。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;任遥并不经常在村子里出现，更多时候是在白云山深处的一座荒废小道观中生活。偶尔光顾村子，也多半是疯疯癫癫的。山村里的孩子调皮，见老人疯疯癫癫的，便一边嬉笑着，一边拿着烂果泥巴追着他扔。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;葛东旭自小心地淳朴善良，不像其他小孩那般调皮，见玩伴们拿东西扔老人取乐，每每都要上前护着任遥。到头来，倒是他被人扔得一身污脏。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;偶然有一次，当葛东旭为了护着任遥又被扔得一身污脏时，任遥突然清醒了过来，喝退了众小孩，然后端详了葛东旭许久，突然问道：“你可愿意拜我为师，随我修行？”<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;葛东旭本想摇头，但见任遥头发发白，衣衫褴褛，很是可怜，鬼使神差地竟然便点头答应了下来。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;任遥大喜，当下就带葛东旭去见他的父母亲，要正式收葛东旭为弟子。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;葛东旭的父母自然不肯让儿子拜一位疯癫老人为师父，虽然那时他看起来很正常。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;也不知道是不是受了葛东旭父母亲拒绝的刺激，任遥当场便又神识不清起来，念念叨叨地走了。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;只是自此之后，他隔三差五总要来看望葛东旭。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;葛东旭父母亲见任遥疯疯癫癫的，又缠着儿子，生怕他伤害到儿子，见他上门几次之后，便忍不住去赶他。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;可任他们如何赶，隔三差五的，任遥总还是要来，而葛东旭父母则依旧还是坚持赶他走，不让他接近自己的儿子。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;直到有一天，葛东旭突然发高烧不退，医生也束手无策，葛东旭父母急得眼泪汪汪，准备送葛东旭到县城找医生看时，任遥突然出现把葛东旭给抱了去就跑。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;葛东旭父母亲自然急得要命，在后面追他。可说也奇怪，那任遥明显是个白发苍苍的老人，抱着个孩子跑起来却是比葛东旭的父亲还要快，转眼间便进了山林里去。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;当时葛东旭父母也没多想，见葛东旭被疯癫老人给抱进山林里去，消失不见，急得眼泪都流了出来，心想儿子高烧不退，又被这么一个疯癫老人给抱了去，肯定是凶多吉少。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;可万万没想到，正在他们急得满山找，喊叫儿子的名字时，葛东旭却突然从一条小山路里向他们跑来，不仅精神很好，而且动作也很敏捷，一点都不像之前发烧时一样，别说动作敏捷了，整个人都是昏昏沉沉，头重脚轻，连站都没办法站起来。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;从那以后，葛东旭父母亲就做了个重大的决定，允许儿子拜任遥这位时而疯癫时而清醒的老人为师。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;说来也奇怪，自从葛东旭父母同意之后，任遥突然变得大多数时候都是清醒的。只是任遥虽然大多数时候变得清醒，但他却基本上不记得以往的事情，也不知道自己叫什么名字。后来，葛东旭父母发现任遥的后脑勺有伤疤，猜想他应该是脑部受过什么创伤，所以才会如此，有心想要带任遥去县城医院看看，不过任遥却很执拗，不肯去，他们也没办法。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;好在任遥除了记不起以前的事情，偶尔会神识不清之外，倒是记得修行的事情。他手把手教葛东旭画符，教他认识各种草药，教他认穴行针，还教他吐纳运气。<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;传授这些时，任遥都是把葛东旭带到山上那座破道观，不准葛东旭父母观看。好在葛东旭跟了任遥修行之后，不仅从此之后再没生过病，而且人似乎也变得格外聪明伶俐起来，学什么东西都比同龄小孩子快，力气也比同龄人大许多。于是葛东旭父母亲也就随
                --&gt;&gt;<p class="text-danger text-center mg0">本章未完，点击下一页继续阅读</p>
            </div>
			<div class="read-pages">
				<a href="#" class="btn btn-default">(←)上一章</a>
				<a href="#" class="btn btn-default">章节目录(Enter)</a>
				<a href="#" class="btn btn-default">下一页(→)</a>
			</div>
			<p class="text-muted text-center text-notice">
				温馨提示：按 回车[Enter]键 返回书目，按 ←键 返回上一页， 按 →键 进入下一页，加入书签方便您下次继续阅读。
			</p>
		</div>
		<footer>
			<p>版权</p>
			<p>Copyright © 2018 </p>
		</footer>
	</div>
	<script type="text/javascript" src="Public/js/jquery.js"></script>
	<script type="text/javascript" src="Public/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="Public/js/read.js"></script>
</body>
</html>