<script type='text/javascript' src='/js/login.js'></script>
<div class="dialog-login-register">
		<!-- 登录面板 -->
		<div class="login-dialog active">
			<div class="login-tit">
				登录<a href="javascript:void(0)" class="login-close">×</a>
			</div>
			<div class="login-form">
				<div class="form-item">
					<i class="fa fa-user-o" aria-hidden="true"></i><input type="text" name="username" id="username" placeholder="请输入用户名">
					<p class="form-error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="error-txt">用户名不能为空</span></p>
				</div>
				<div class="form-item">
					<i class="fa fa-lock" aria-hidden="true"></i><input type="password" name="password" id="password" placeholder="请输入密码">
					<p class="form-error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="error-txt">密码不能为空</span></p>
				</div>
				<div class="form-btn">
					<button type="button" class="btn btn-primary login-form-btn">登 录</button>
					<p class="form-label">
						<a href="javascript:void(0)" class="forget-psw">忘记密码</a><a href="javascript:void(0)" class="tap-register">注册用户</a>
					</p>
					<!-- 第三方登录 -->
					<p class="form-label login-third">
						<a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
					</p>
				</div>
			</div>
		</div>
		<!-- 注册面板 -->
		<div class="register-dialog">
			<div class="login-tit">
				注册用户<a href="javascript:void(0)" class="login-close">×</a>
			</div>
			<div class="login-form register-form">
				<div class="form-item">
					<i class="fa fa-user" aria-hidden="true"></i><input type="text" id="r-username" name="username" class="username" placeholder="请输入用户名">
					<p class="form-error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="error-txt">用户名不能为空</span></p>
				</div>
				<div class="form-item">
					<i class="fa fa-user-o" aria-hidden="true"></i><input type="text" id="r-name" name="name" class="username" placeholder="请输入真实姓名">
				</div>
				<div class="form-item">
					<i class="fa fa-lock" aria-hidden="true"></i><input type="password" id="r-password" name="password" class="password" placeholder="请输入密码">
					<p class="form-error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="error-txt">密码不能为空</span></p>
				</div>
				<div class="form-item">
					<i class="fa fa-lock" aria-hidden="true"></i><input type="password" id="r-re-password"  name="password" class="rePassword" placeholder="请再次输入密码">
					<p class="form-error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="error-txt">输入密码不能为空</span></p>
				</div>
				<div class="form-item">
					<i class="fa fa-envelope-o" aria-hidden="true"></i><input type="text" id="r-email"  name="email" class="rePassword" placeholder="请输入邮箱">
		
				</div>
				<div class="form-btn">
					<button type="button" class="btn btn-primary register-form-btn">注 册</button>
					<p class="form-label">
						<a href="javascript:void(0)" class="tap-login">直接登录</a>
					</p>
					<!-- 第三方登录 -->
					<p class="form-label login-third">
						<a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
					</p>
				</div>
			</div>
		</div>
	</div>